*
{
    margin: 0px;
    border: 0px;
}

.content-container
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 8% 1fr;
    height: 100vh;
}

.sidebar
{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid black;

}
.topbar
{
    grid-row:1/2;
    grid-column: 2/3;
    background-color: rgb(41, 38, 38);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.main-content
{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #fff;
    padding: 20px;
}
.sidebar-header
{
    border-bottom: 2px solid blue;
}
.store-name
{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 50px 0px;
}
.sidebar-content
{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5em;
}
.sidebar-link
{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 0px 5px 0px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #8b8888
}
.sidebar-link:hover
{
    background-color: #c7bebe;
}
.sidebar-item
{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.topbar-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-button
{
    padding: 8px 16px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}
.login-button:hover
{
    background-color: #d4d4d4;
    border: 2px solid rgb(34, 132, 170);
}
.search-bar
{
    flex-grow: 1;
    max-width: 800px;
}
.search-bar input
{
    width: 100%;
    padding: 10px;
    text-align:left;
    background-color:rgb(41, 38, 38);
    transition: all 0.3s ease;
    color: white;
}
.search-bar input:hover{
    border: 2px solid white;
}
.main-content
{
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
}

.page-title {
    font-size: 2em;
    margin-bottom: 20px;
}
#products-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.product-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    padding: 15px;
    width: 200px;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.product-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-item p {
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9em;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}